{% extends 'base.html' %}
{% block content %}
<div>
    {% if post %}
    <div name="user" class="user">
        <a href="/u/{{ post.user.username }}">{{ post.user.username }}</a>
        <img src="{{ gravatar(post.user.email) }}" alt="{{ post.user.username }} profile" width="32" height="32">
    </div>
    <div name="content" class="content">
        {{ post.content }}
    </div>
    {% endif %}
</div>
<div class="comments" name="comments">
    {% if comments %}
    {% for comment in comments %}
    <div name="comment" class="comment">
        <div name="user" class="user">
            <a href="/u/{{ comment.user.username }}">
                {{ comment.user.username }}
            </a>
            <img src="{{ gravatar(comment.user.email) }}" alt="{{ comment.user.username }} profile" width="32" height="32">
        </div>
        <div name="content" class="content">
            {{ comment.content }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
