{% extends 'base.html' %}
{% block content %}
{% if posts %}
{% for post in posts %}
<div class="post" name="post">
    <div name="user" class="user">
        <a href="/u/{{ post.user.username }}">{{ post.user.username }}</a>
        <img src="{{ post.user.profile_image }}" alt="{{ post.user.username }} profile" width="32" height="32">
    </div>
    <div name="content" class="content">
        {% if post.content|length>10 %}
        {{ post.content[:10] }}...
        {% else %}
        {{ post.content }}
        {%endif%}
    </div>
</div>
{% endfor %}
{% else %}
{{ username }} haven't yet a post
{% endif %}

{% endblock %}
