{% extends 'base.html' %}
{% block content %}

    <div>
        <b>{{ username }}</b>
        {% if img %}
        <img src="{{ img }}" alt="{{ username }} profile" width="64" height="64">
        {% endif %}
    </div>

    <div>
        {% if posts %}
        {% for post in posts %}
        <div>
            <a href="/p/{{ post.id }}">{{ post.content }}</a>
        </div>
        {% endfor %}
        {% else %}
        {{ username }} haven't yet a post
        {% endif %}
    </div>
{% endblock %}