{% extends 'auth/base.html' %}
{% block content %}
    <form class="form-signin" action="{{ url_for('auth.login') }}" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }} {{ form.username }}
        </div>
        <div>
            {{ form.password.label }}{{ form.password }}
        </div>
        <div>
            {{ form.remember_me.label }}{{ form.remember_me }}
        </div>
        <div>
            {{ form.recaptcha }}
            <input type=submit class="btn btn-outline-success" value="Login now">
        </div>
    </form>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-custom  fade in alert-dismissable show">
            <div> {{ message }}</div>
        </div>
    {% endfor %}
{% endblock %}
