{% extends 'auth/base.html' %}
{% block content %}
    <form class="form-signin" action="{{ url_for('auth.register') }}" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }} {{ form.username }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.password.label }}{{ form.password }} {{ form.confirm_password.label }} {{ form.confirm_password }}
        </div>
        <div>
        {{ form.recaptcha }}
        <input type=submit class="btn btn-outline-success fade in show" value="Register now">
        </div>
    </form>
    <div>
        <div class="col-xs-12 center-xs">
            <a href="{{ url_for('auth.github') }}" class="btn btn-default btn-raised btn-lg p-left-xs-40 p-right-xs-40"><i
                    class="fa fa-github m-right-xs-5"></i>Register with GitHub</a>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-custom  fade in alert-dismissable show">
            <div> {{ message }}</div>
        </div>
    {% endfor %}
{% endblock %}
